@import url(normalize.css);
@font-face {
  font-family: "ALSSchlangesans";
  font-family: ALSSchlangesans;
  src: url(../fonts/ALSSchlangesans.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  object-fit: cover;
}
body {
  font-family: ALSSchlangesans;
  font-size: 12px;
  line-height: 16px;
  margin: 0 auto;
  max-width: 2400px;
}
@media (min-width: 310px) {
  .header__title {
    display: none;
    font-size: 24px;
    line-height: 22px;
  }
  .header__page {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .header__logo {
    margin-top: 30px;
  }
  .header__subtitle {
    color: #9a9a9a;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 32px;
    margin-top: 13px;
    text-align: center;
  }
  .nav {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    width: 100%;
  }
  .nav__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
  }
  .nav__icon {
    cursor: pointer;
  }
  .offer__head {
    align-items: center;
    background: url(../img/bg-main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    min-height: 200px;
    width: 100%;
  }
  .offer-text__manufacture {
    text-align: center;
  }
  .offer-text__manufacture-title {
    color: #000000;
    font-size: 32px;
    font-weight: 900;
    line-height: 39px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  }
  .offer-text__manufacture-subtitle {
    color: orange;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  }
  .offer-text__manufacture-subtitle br {
    display: none;
  }
  .offer-banner-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    margin-top: 35px;
  }
  .offer-banner-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .gray {
    background-color: gray;
    height: 154px;
    width: 100%;
  }
  .calculate__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 22px;
    margin-bottom: 33px;
    margin-top: 37px;
    text-align: center;
  }
  .calculate-features {
    display: flex;
    justify-content: space-evenly;
  }
  .item__uppertitle {
    font-size: 10px;
    letter-spacing: 0.03em;
    line-height: 16px;
    text-align: center;
  }
  .item__title {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 16px;
    text-align: center;
  }
  .calculate-price {
    margin-top: 38px;
    text-align: center;
  }
  .calculate-price__item {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .calculate-price__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
  }
  .calculate-price__number {
    font-size: 24px;
    font-weight: 900;
    line-height: 16px;
  }
  .calculate-price__title {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 16px;
    margin-right: 24px;
  }
  .calculate-price__input {
    -webkit-appearance: none;
    background: #c4c4c4;
    border-radius: 3px;
    height: 5px;
    margin-bottom: 32px;
    outline: none;
    width: 339.1px;
  }
  .calculate-price__item {
    margin-bottom: 50px;
  }
  .calculate-price__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #f26422;
    border-radius: 100px;
    cursor: pointer;
    height: 11px;
    transition: 0.1s;
    width: 11px;
  }
  .calculate-partners {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .calculate-partners__title {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 16px;
    margin-right: 13px;
  }
  .calculate-cheque {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 45px;
    position: relative;
  }
  .cheque {
    background: white;
    box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 263px;
    min-height: 349px;
    padding: 13px;
    position: relative;
    text-align: right;
    width: 100%;
    z-index: 2;
  }
  .cheque::after {
    background: url(../img/cheque.png);
    bottom: -10px;
    content: "";
    height: 15px;
    left: -3px;
    position: absolute;
    width: 103%;
    z-index: 5;
  }
  .calculate-cheque::before {
    background: #ffffff;
    background: white;
    border: 20px solid #f2f2f2;
    border-radius: 6px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    content: " ";
    height: 56px;
    position: absolute;
    top: -24px;
    width: 324px;
    z-index: -1;
  }
  .cheque-summ,
  .cheque-payment {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .cheque-summ__title,
  .cheque-payment__title {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 15px;
  }
  .cheque-payment__title {
    margin-bottom: 18px;
  }
  .cheque-summ__summ,
  .cheque-payment__summ {
    font-size: 40px;
    line-height: 16px;
  }
  .cheque-contribution {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-bottom: 33px;
  }
  .cheque-contribution__first-contribution {
    margin-bottom: 17px;
  }
  .cheque-contribution__first-contribution,
  .cheque-contribution__overpayment {
    display: flex;
  }
  .first-contribution__summ,
  .overpayment__summ {
    color: #f26422;
    font-size: 24px;
    line-height: 16px;
    margin-left: 11px;
  }
  .cheque__button {
    background: #f26422;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.04em;
    line-height: 27px;
    padding: 6px 17px;
    text-align: center;
    text-transform: uppercase;
  }
  .white-gray {
    background: #c7c7c7;
    height: 154px;
  }
  .footer__items {
    align-items: center;
    background-color: #015a76;
    color: white;
    display: flex;
    font-size: 22px;
    font-weight: bold;
    height: 378px;
    justify-content: space-around;
    line-height: 26px;
    margin: 0 auto;
  }
  .footer__discount {
    display: none;
  }
}
@media (min-width: 768px) {
  .header__page {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 30px;
  }
  .header__title {
    display: block;
  }
  .nav {
    justify-content: center;
  }
  .nav__icon {
    display: none;
  }
  .offer {
    background: url(../img/bg-main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 0px 50px;
    position: relative;
  }
  .offer__head {
    align-items: flex-start;
    background: none;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0px;
    margin-top: 30px;
    position: relative;
    width: 58%;
  }
  .offer__head-img {
    display: block;
    z-index: 5;
  }
  .offer-banner-1 {
    margin-top: 20px;
  }
  .offer-banner-1__img {
    max-width: 15rem;
  }
  .offer-banner-2 {
    display: none;
  }
  .offer-text {
    position: relative;
    z-index: 2;
  }
  .offer-text::before {
    background: url(../img/bg-main-ipad.png);
    background-position: center;
    background-size: cover;
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    transform: translateX(-60%);
    width: 980px;
    z-index: -1;
  }
  .offer-text__manufacture {
    margin-top: 13px;
    text-align: left;
  }
  .offer-text__manufacture-subtitle br {
    display: block;
  }
  .offer-text__manufacture-title {
    color: white;
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 5px;
  }
  .offer-text__manufacture-subtitle {
    color: #ffe600;
    font-size: 25px;
    line-height: 27px;
  }
  .calculate-price {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .calculate-price__text {
    width: 100%;
  }
  .calculate-price__input {
    width: 700px;
  }
  .footer__items {
    height: 120px;
  }
}
@media (min-width: 1900px) {
  .header__container {
    margin-right: 39rem;
  }
  .header__page {
    justify-content: space-around;
    overflow: hidden;
    position: relative;
  }
  .header__page::before {
    background: url(../img/shar_dsk\ 2.png);
    background-position: center;
    background-size: cover;
    content: " ";
    height: 100%;
    left: 0px;
    position: absolute;
    transform: translateX(-11%);
    width: 50%;
    z-index: -1;
  }
  .header__subtitle {
    color: #ffffff;
  }
  .offer {
    justify-content: space-around;
  }
  .offer__head {
    overflow: visible;
    position: relative;
    width: 34rem;
  }
  .offer-text::before {
    transform: translateX(-43%);
  }
  .offer-text__manufacture-title {
    font-size: 40px;
    line-height: 50px;
  }
  .offer-text__manufacture-subtitle {
    font-size: 40px;
    line-height: 50px;
  }
  .offer__head-img {
    width: 100%;
  }
  .offer__head::after {
    content: url(../img/1920.png);
    position: absolute;
    right: 10rem;
    top: 16rem;
    z-index: 5;
  }
  .features__item {
    text-align: center;
  }
  .item__uppertitle {
    font-size: 14px;
    margin-bottom: 7px;
  }
  .item__title {
    font-size: 24px;
  }
  .calculate__title {
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
  }
  .calculate {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .calculate-container {
    display: flex;
  }
  .calculate-price__input {
    -webkit-appearance: none;
    background: #c4c4c4;
    border-radius: 3px;
    height: 5px;
    outline: none;
    width: 755px;
  }
  .calculate-price__item {
    margin-bottom: 50px;
  }
  .calculate-price__text {
    width: 100%;
  }
  .calculate-price__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #f26422;
    border-radius: 100px;
    cursor: pointer;
    height: 11px;
    transition: 0.1s;
    width: 11px;
  }
  .calculate-price__number {
    font-size: 40px;
  }
  .calculate-price__title {
    font-size: 1.5rem;
    margin-bottom: 1.875rem;
  }
  .calculate-partners {
    font-size: 1.5rem;
    justify-content: flex-start;
    line-height: 16px;
    margin-bottom: 4.3125rem;
    width: 100%;
  }
  .calculate-partners__title {
    font-size: 1.5rem;
    line-height: 1rem;
    margin-right: 2.75rem;
  }
  .calculate-partners__logo {
    margin-right: 1.875rem;
  }
  .features-container {
    margin-right: 50px;
  }
  .calculate-features {
    margin-bottom: 50px;
  }
  .footer__discount {
    display: block;
  }
}
