@import url(normalize.css);
@font-face {
  font-family: "ALSSchlangesans";
  font-family: ALSSchlangesans;
  src: url(../fonts/ALSSchlangesans.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  object-fit: cover;
}
body {
  font-family: ALSSchlangesans;
  font-size: 12px;
  line-height: 16px;
  margin: 0 auto;
  max-width: 2400px;
}
@media (min-width: 310px) {
  .header__title {
    display: none;
    font-size: 1.5rem;
    line-height: 1.375rem;
  }
  .header__page {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .header__logo {
    margin-top: 1.875rem;
  }
  .header__subtitle {
    color: #9a9a9a;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1rem;
    margin-bottom: 2rem;
    margin-top: 0.8125rem;
    text-align: center;
  }
  .nav {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
    text-align: center;
    width: 100%;
  }
  .nav__title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.75rem;
  }
  .nav__icon {
    cursor: pointer;
  }
  .offer__head {
    align-items: center;
    background: url(../img/bg-main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
    min-height: 12.5rem;
    width: 100%;
  }
  .offer__head-img.img {
    width: 160px;
  }
  .offer-text__manufacture {
    text-align: center;
  }
  .offer-text__manufacture-title {
    color: #000000;
    font-size: 2rem;
    font-weight: 900;
    line-height: 2.4375rem;
    text-shadow: 0.125rem 0.125rem 0.1875rem rgba(0, 0, 0, 0.25);
  }
  .offer-text__manufacture-subtitle {
    color: orange;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 2rem;
    text-shadow: 0.125rem 0.125rem 0.1875rem rgba(0, 0, 0, 0.25);
  }
  .offer-text__manufacture-subtitle br {
    display: none;
  }
  .offer-banner-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.1875rem;
    margin-top: 2.1875rem;
  }
  .offer-banner-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 3.125rem;
  }
  .gray {
    background-color: gray;
    height: 9.625rem;
    width: 100%;
  }
  .calculate__title {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.375rem;
    margin-bottom: 2.0625rem;
    margin-top: 2.3125rem;
    text-align: center;
  }
  .calculate-features {
    display: flex;
    justify-content: space-evenly;
  }
  .item__uppertitle {
    font-size: 0.625rem;
    letter-spacing: 0.03em;
    line-height: 1rem;
    text-align: center;
  }
  .item__title {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 1rem;
    text-align: center;
  }
  .calculate-price {
    margin-top: 2.375rem;
    text-align: center;
  }
  .calculate-price__item {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .calculate-price__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8125rem;
  }
  .calculate-price__number {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1rem;
  }
  .calculate-price__title {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 1rem;
    margin-right: 1.5rem;
  }
  .calculate-price__input {
    -webkit-appearance: none;
    background: #c4c4c4;
    border-radius: 0.1875rem;
    height: 0.3125rem;
    margin-bottom: 2rem;
    outline: none;
    width: 21.1938rem;
  }
  .calculate-price__item {
    margin-bottom: 3.125rem;
  }
  .calculate-price__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #f26422;
    border-radius: 6.25rem;
    cursor: pointer;
    height: 0.6875rem;
    transition: 0.1s;
    width: 0.6875rem;
  }
  .calculate-partners {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .calculate-partners__title {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 1rem;
    margin-right: 0.8125rem;
  }
  .calculate-cheque {
    display: flex;
    justify-content: center;
    margin-bottom: 3.125rem;
    margin-top: 2.8125rem;
    position: relative;
  }
  .cheque {
    background: white;
    box-shadow: 0.25rem 0.25rem 1.375rem rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 16.4375rem;
    min-height: 21.8125rem;
    padding: 0.8125rem;
    position: relative;
    text-align: right;
    width: 100%;
    z-index: 2;
  }
  .cheque::after {
    background: url(../img/cheque.png);
    bottom: -0.625rem;
    content: "";
    height: 0.9375rem;
    left: -0.1875rem;
    position: absolute;
    width: 103%;
    z-index: 5;
  }
  .calculate-cheque::before {
    background: #ffffff;
    background: white;
    border: 1.25rem solid #f2f2f2;
    border-radius: 0.375rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    content: " ";
    height: 3.5rem;
    position: absolute;
    top: -1.5rem;
    width: 20.25rem;
    z-index: -1;
  }
  .cheque-summ,
  .cheque-payment {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
  }
  .cheque-summ__title,
  .cheque-payment__title {
    font-size: 0.875rem;
    line-height: 0.9375rem;
    margin-bottom: 0.9375rem;
  }
  .cheque-payment__title {
    margin-bottom: 1.125rem;
  }
  .cheque-summ__summ,
  .cheque-payment__summ {
    font-size: 2.5rem;
    line-height: 1rem;
  }
  .cheque-contribution {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.0625rem;
  }
  .cheque-contribution__first-contribution {
    margin-bottom: 1.0625rem;
  }
  .cheque-contribution__first-contribution,
  .cheque-contribution__overpayment {
    display: flex;
  }
  .first-contribution__summ,
  .overpayment__summ {
    color: #f26422;
    font-size: 1.5rem;
    line-height: 1rem;
    margin-left: 0.6875rem;
  }
  .cheque__button {
    background: #f26422;
    border: none;
    border-radius: 0.375rem;
    color: white;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 900;
    letter-spacing: 0.04em;
    line-height: 1.6875rem;
    padding: 0.375rem 1.0625rem;
    text-align: center;
    text-transform: uppercase;
  }
  .white-gray {
    background: #c7c7c7;
    height: 9.625rem;
  }
  .footer__items {
    align-items: center;
    background-color: #015a76;
    color: white;
    display: flex;
    font-size: 1.375rem;
    font-weight: bold;
    height: 23.625rem;
    justify-content: space-around;
    line-height: 1.625rem;
    margin: 0 auto;
  }
  .footer__discount {
    display: none;
  }
}
@media (min-width: 768px) {
  .header__page {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 1.875rem;
  }
  .header__title {
    display: block;
  }
  .nav {
    justify-content: center;
  }
  .nav__icon {
    display: none;
  }

  .offer {
    background: url(../img/bg-main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 0rem 3.125rem;
    position: relative;
  }
  .offer__head {
    align-items: flex-start;
    background: none;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0rem;
    margin-top: 1.875rem;
    position: relative;
    width: 65%;
  }
  .offer__head-img {
    display: block;
    z-index: 5;
  }
  .offer__head-img.img {
    width: auto;
  }
  .offer-banner-1 {
    margin-top: 1.25rem;
  }
  .offer-banner-1__img {
    max-width: 15rem;
  }
  .offer-banner-2 {
    display: none;
  }
  .offer-text {
    position: relative;
    z-index: 2;
  }
  .offer-text::before {
    background: url(../img/bg-main-ipad.png);
    background-position: center;
    background-size: cover;
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    transform: translateX(-60%);
    width: 61.25rem;
    z-index: -1;
  }
  .offer-text__manufacture {
    margin-top: 0.8125rem;
    text-align: left;
  }
  .offer-text__manufacture-subtitle br {
    display: block;
  }
  .offer-text__manufacture-title {
    color: white;
    font-size: 1.5625rem;
    line-height: 1.6875rem;
    margin-bottom: 0.3125rem;
  }
  .offer-text__manufacture-subtitle {
    color: #ffe600;
    font-size: 1.5625rem;
    line-height: 1.6875rem;
  }
  .calculate-price {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .calculate-price__text {
    width: 100%;
  }
  .calculate-price__input {
    width: 43.75rem;
  }
  .footer__items {
    height: 7.5rem;
  }
}
@media (min-width: 1920px) {
  .header__container {
    margin-right: 39rem;
  }
  .header__page {
    justify-content: space-around;
    overflow: hidden;
    position: relative;
  }
  .header__page::before {
    background: url(../img/shar_dsk\ 2.png);
    background-position: center;
    background-size: cover;
    content: " ";
    height: 100%;
    left: 0rem;
    position: absolute;
    transform: translateX(-11%);
    width: 50%;
    z-index: -1;
  }
  .header__subtitle {
    color: #ffffff;
  }
  .offer {
    justify-content: space-around;
  }
  .offer__head {
    overflow: visible;
    position: relative;
    width: 34rem;
  }
  .offer-text::before {
    transform: translateX(-43%);
  }
  .offer-text__manufacture-title {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }
  .offer-text__manufacture-subtitle {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }
  .offer__head-img {
    width: 100%;
  }
  .offer__head-img.img {
    width: 100%;
  }
  .offer__head::after {
    content: url(../img/1920.png);
    position: absolute;
    right: 10rem;
    top: 16rem;
    z-index: 5;
  }
  .features__item {
    text-align: center;
  }
  .item__uppertitle {
    font-size: 0.875rem;
    margin-bottom: 0.4375rem;
  }
  .item__title {
    font-size: 1.5rem;
  }
  .calculate__title {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 3.125rem;
  }
  .calculate {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .calculate-container {
    display: flex;
  }
  .calculate-price__input {
    -webkit-appearance: none;
    background: #c4c4c4;
    border-radius: 0.1875rem;
    height: 0.3125rem;
    outline: none;
    width: 47.1875rem;
  }
  .calculate-price__item {
    margin-bottom: 3.125rem;
  }
  .calculate-price__text {
    width: 100%;
  }
  .calculate-price__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #f26422;
    border-radius: 100px;
    cursor: pointer;
    height: 0.6875rem;
    transition: 0.1s;
    width: 0.6875rem;
  }
  .calculate-price__number {
    font-size: 2.5rem;
  }
  .calculate-price__title {
    font-size: 1.5rem;
    margin-bottom: 1.875rem;
  }
  .calculate-partners {
    font-size: 1.5rem;
    justify-content: flex-start;
    line-height: 1rem;
    margin-bottom: 4.3125rem;
    width: 100%;
  }
  .calculate-partners__title {
    font-size: 1.5rem;
    line-height: 1rem;
    margin-right: 2.75rem;
  }
  .calculate-partners__logo {
    margin-right: 1.875rem;
  }
  .features-container {
    margin-right: 3.125rem;
  }
  .calculate-features {
    margin-bottom: 3.125rem;
  }
  .footer__discount {
    display: block;
  }
}
